<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">

          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control">
            <span *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched"
              class="help-block">
            <span *ngIf="signupform.get('userData.username').errors['nameIsForbidden']">This name is invalid.</span>
            <span *ngIf="signupform.get('userData.username').errors['required']">This field is required.</span>
            
          </span>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control">
            <span 
              class="help-block"
              *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched"
            >Please enter a valid email</span>
          </div>

        </div>
        
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              formControlName="gender"
              [value]="gender">{{ gender }}
          </label>
        </div>

        <!-- chose the same name "hobbies" as we chose for our TypeScript object. This tells Angular that somewhere in this div, our array will live. -->
        <div formArrayName="hobbies">
          <h4>Your hobbies</h4>
          <button 
            class="btn btn-default" 
            type="button" 
            (click)="onAddHobby()"
          >Add Hobby</button>
          <div 
            class="form-group" 
            *ngFor="let hobbyControl of getControls(); let i = index"
          >
            <!-- we'll ned the i=index to assign the input to one of the dynamically created controls. -->
            <!-- Very important: Add formControlName to synchronize this input with the dynamically created input. -->
            <!-- The dynamically created input will have a name NOT chosen by us, but it is in an array. So the name will be the index in this array. -->
            <input type="text" class="form-control" [formControlName]="i">
          </div>
        </div>

        <span 
            class="help-block"
            *ngIf="!signupForm.valid && signupForm.touched"
        >Please complete the form</span>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
